body {
    margin: 0;
    font-family: Open Sans;
    font-weight: 500;
    font-size: x-large;
}

/*background stuff-------------------------------------------------------------*/
.display {
    display: flex;
    background-color: #ebbbc5;
    height: 100vh;
    z-index: 0;
}

.display__img {
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*nav bar thingy---------------------------------------------------------------*/
.nav-menu__header-button {
    background-color: white;
    height: 50px;
    margin-top: 10px;
    width: 350px;
    z-index: 10;
}