/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------global*/

body {
    margin: 0;
    font-family: Open Sans;
    font-weight: 800;
    font-size: x-large;
}

/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------background display*/
.display {
    display: flex;
    background-color: #ebbbc5;
    height: 100vh;
    z-index: 0;
}

.display__img {
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------nav bar thingy*/
.nav-container{ 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 350px;
}

.nav-container__header {
    background-color: white;
    display: flex;
    height: 50px;
    margin: 0;
    z-index: 10;
}

.nav-container__header > :nth-child(1) {
    line-height: 50px;
    margin: 0;
    width: 40px;
    padding-left: 10px;
}
.nav-container__header > :nth-child(2) {
    line-height: 50px;
    margin: 0;
    width: 240px;
    padding-left: 10px;   
}
.nav-container__header > :nth-child(3) {
    width: 50px;
}

.nav-container__menu-key {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

[class^=nav-container__menu-key__hamburger] {
    background-color: black;
    height: 2px;
    margin: auto;
    width: 20px;
}

.nav-container__unlockable-menu {
    background-color: white;
    display: none;
    height: 100%;
    width: 100%;
}

/*-----------------------------------------------------------------------------*/
/*--------------------------------------transforms, transitions, and animations*/
.nav-container__menu-key:hover {
    cursor: pointer;
}